*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --font1: 'Bebas Neue';
    --font2: 'Montserrat';
    --h1: clamp(3em, 10vw, 4.5em);
    --sub-h1: clamp(1.1em, 2vw, 2em);
    --h2: clamp(1.5em, 7vw, 3em);
    --transition: all 0.2s ease-in-out;

}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0.4em;
}

a {
    text-decoration: none;
}

.logo {
    font-family: var(--font1);
    font-size: 1.625em;
    background-color: #000000;
    color: white;
    padding: 0.25em 0.5em;
    margin-left: 0.5em;

}

.logo span {

    color: rgb(103, 128, 252);
}

.menu-btn {
    float: right;
    margin-right: 1.5em;
}

.menu-btn:hover {
    cursor: pointer;
}

nav {
    position: relative;
}

.nav-links {
    /* display: flex; <- once hamburger menu btn is clicked*/
    display: none;
    margin: 0;
    list-style-type: none;
    font-family: var(--font1);
    background-color: #363B4E;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 2em;
    padding-right: 2.5em;
    height: 101vh;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: -0.4em;
    right: -0.4em;
    transition: var(--transition);
    transform: translateX(100%);
}

.exit-btn {
    margin-bottom: 1rem;
}

.exit-btn:hover {
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: white;
    line-height: 2em;
    font-size: 1.52em;
}

.top-bg-container {
    height: 100vh;
    position: absolute;
    width: 90%;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: 80% auto;
    z-index: -1;
}

.light-streaks {
    background-image: url(./assets/streaks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-blend-mode: screen;
    background-color: #B2DD9E;
}

.blue-col {
    background-color: #7988BE;
}

.container {
    height: 100vh;
}

.content {
    font-family: var(--font1);
    text-align: center;
    margin-left: 10%;
    margin-right: 20%;
    max-width: 80%;
    padding: 3em 1em;
}

.type h1 {
    font-size: var(--h1);
    margin-bottom: 0 !important;
    font-weight: 400;


}

.type p {
    font-size: var(--sub-h1);
    font-family: var(--font2);
    /* padding: 0 0.5em; */
    margin-bottom: 4em;
    line-height: 1.6rem;
}

.drone-container {
    position: relative;
    max-width: clamp(200px, 50%, 484px);
    margin: auto;
}

.drone {
    width: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    animation: hover 2s alternate-reverse infinite;
}

.blur {
    position: absolute;
    width: 100%;
    opacity: 0.24;
    top: 6px;
    left: 11%;
    animation: pulse 2s alternate-reverse infinite;
}

@keyframes hover {
    from {
        transform: translateY(-30px);
    }
}

@keyframes pulse {
    from {
        opacity: 0;
    }
}

.quote {
    color: #FFFFFF;
    height: 85vh;
    padding: 3.8rem 2.25rem 0 2.5rem;
    position: relative;
    width: 90%;
    background: #303853;
    float: right;

    margin-bottom: 3.3rem;

}

.quote::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/stadium.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    opacity: 0.17;

}

blockquote {
    margin: 0;
    font-size: var(--h2);
    /* max-width: clamp(289px, 2, 500px); */
    max-width: calc(289px + 20vw);
    margin-bottom: 1.5em;
    font-family: var(--font1);
    font-size: 1.55rem;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

cite {
    font-size: 1.1em;
    font-style: normal;
    position: relative;
    padding-left: 38px;
}

cite::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 28px;
    height: 1px;
    left: 0;
    top: 50%;
}

.gallery {
    width: 90%;
    float: right;

}

.footage-content h2 {
    font-family: var(--font1);
    font-size: 2.25em;
}

.footage-content p {
    font-family: var(--font2);
    font-size: 1.1em;
    line-height: 1.5em;
    margin-right: 2em;
}

#footage-1 {
    grid-area: footage-1;

}

#footage-2 {
    grid-area: footage-2;
}

#footage-3 {
    grid-area: footage-3;
}

#footage-4 {
    grid-area: footage-4;
}

#footage-5 {

    grid-area: footage-5;
}

#footage-1,
#footage-2,
#footage-3,
#footage-4,
#footage-5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;

}

.gallery-container {

    display: grid;
    margin: 2.4em 0;

    grid-template-areas:
        ". footage-4 footage-2"
        "footage-5 footage-3 ."
        ". footage-1 .";


}

.contact {
    font-family: var(--font1);
    clear: both;
    /* prevents from overlapping to the previous 'float: right' property */
    background-color: #B2DD9E;

    height: 150vw;

}

h3 {
    width: 90%;
    padding: 1.8rem 1.4rem 1.4rem 4rem;
    background-color: #9FC88C;
    font-size: 2.25em;
    font-weight: 400;
    max-width: 400px;


}

.cols-2 {
    padding: 0 4em;
}

.form-container {
    margin: auto;
    max-width: 500px;

}

label {
    display: block;
    font-size: 1.5em;
    margin-bottom: 1rem;
}

input {
    border: unset;
    width: 100%;
    margin-bottom: 1.8em;
    height: 3.25em;
    border-radius: 0.2em;
    padding: 0 0.5em;
}

input:focus {
    outline: unset;
    outline: 1px solid #000000;
}

button {
    margin-top: 2rem;
    border: unset;
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--font1);
    padding: 1rem 4rem;
    background-color: #000000;
    color: #FFFFFF;

}

.other-info {
    margin-top: 2.8em;
}

.other-info ul {
    margin: unset;
    list-style-type: none;
    width: 172px;
    padding: 0;
    font-family: var(--font2);
}

.other-info ul>li {
    padding-bottom: 0.8em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.other-info ul:last-child a {
    color: #000000;
    font-size: inherit;

}


@media (min-width: 1200px) {
    /*  */
    /* html {
        font-size: 20px;
    } */
    .container {
        padding: 0.4em 0;
    }

    .content {
        margin-left: 10%;
        margin-right: 20%;
        padding: 7em 0 2em 2em;
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .menu-btn {
        display: none;
    }

    .exit-btn {
        display: none;
    }

    .logo {
        font-family: var(--font1);
        font-size: 2.25em;
        background-color: #000000;
        color: white;
        padding: 0.25em 1.5rem;
        margin-left: calc(10% + 1em);

    }

    .nav-links {
        /* display: flex; <- once hamburger menu btn is clicked*/
        display: flex;
        margin: 0;
        list-style-type: none;
        font-family: var(--font1);
        background-color: unset;
        flex-direction: initial;
        justify-content: end;
        align-items: flex-start;
        gap: 2rem;
        align-items: flex-end;
        padding-top: unset;
        padding-right: unset;
        height: unset;
        position: absolute;
        top: 0;
        right: 15%;
        transition: unset;
        transform: unset;
    }

    .top-bg-container {
        height: 100vh;
        position: absolute;
        width: 80.50%;
        grid-template-columns: 55% auto;
        z-index: -1;
    }



    .type h1 {
        text-align: left;
        line-height: 88.85px;
        font-size: 6em;
        max-width: 391px
    }

    .type p {
        font-size: 24px;
        font-family: var(--font2);
        margin-bottom: 4em;
        line-height: 33.98px;
        text-align: left;
        max-width: 406px;
    }

    .drone-container {
        position: relative;
        /* max-width: clamp(200px, 50%, 484px); */
        margin: unset;
        padding: 9.6rem 0;
    }

    .drone {
        width: 484px;
        position: absolute;
        top: 0;
        left: 7.125rem;


    }

    .blur {
        position: absolute;
        width: 484px;
        opacity: 0.24;
        top: 2.8rem;
        left: 5.375rem;

    }

    .quote {
        height: 85vh;
        padding: unset;
        width: 80.50%;
        display: grid;
        place-content: center;
        margin-bottom: 3.3rem;

    }

    blockquote {
        margin: 0;
        font-size: var(--h2);
        max-width: 753px;
        margin-bottom: 1em;
    }

    cite {
        font-size: 1.5em;
    }

    .gallery {
        width: calc(90.50%);
        padding-left: 2.5rem;
        display: grid;
        grid-template-columns: 1fr 843px;
        grid-template-rows: auto;
        gap: 2rem;
        overflow-x: clip;
    }

    .footage-content h2 {
        font-family: var(--font1);
        font-size: 6rem;
        font-weight: 400;
        max-width: 391px;
        margin-bottom: 4rem;
        line-height: 5.55rem;
    }

    .footage-content p {
        font-family: var(--font2);
        font-size: 1.1em;
        line-height: 1.5em;
        margin-right: 2em;
        max-width: 363px;
    }

    .footage-content p:nth-child(2) {
        margin-top: 0 !important;
    }


    .gallery-container {
        margin-top: -190px;
        margin-bottom: 140px;
        z-index: 1;
    }

    .contact {
        font-family: var(--font1);
        clear: both;
        /* prevents from overlapping to the previous 'float: right' property */
        background-color: #B2DD9E;
        height: 735px;

    }

    h3 {

        padding-right: 3rem;
        background-color: #9FC88C;
        font-size: 4rem;
        text-align: end;
        max-width: 711px;


    }

    .cols-2 {
        padding: 0;
        display: grid;
        width: calc(90.50%);
        grid-template-columns: auto auto;
        gap: 2.2em;
        float: right;
    }

    .form-container {
        margin: unset;
        max-width: 633px;
        padding-left: 2.5rem;
    }

    label {
        font-size: 2em;
        margin-bottom: 0.2rem;
    }

    input {
        margin-bottom: 3.25rem;
        height: 4.5rem;
        font-size: larger;
    }


    button {
        margin-top: 0;
    }

    .other-info {
        margin-top: 0;
        position: relative;
        top: 40px;
        left: 0;
    }

    .other-info ul>li {
        padding-bottom: 0.6rem;
    }


}